.ic-enfold-search {
    position: relative;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.ic-enfold-search .widget_search {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#top .ic-enfold-search #searchform > div.ajax_search_response {
    position: absolute;
    padding-top: 10px;
    width: 100%;
    background-color: #3e3e3e;
    box-shadow: 1px 1px 10px 0px black;
}

#top #header_main > .container {
    height: auto !important;
    line-height: 1 !important;
}

.logo a {
    height: 90px;
}

@media only screen and (max-width: 989px) and (max-width: 767px) {
    .ic-enfold-search {
        padding-top: 0 !important;
        height: auto !important;
    }

    .ic-enfold-search .widget_search {
        position: static;
    }
}

@media only screen and (max-width: 989px) and (min-width: 768px) {
    .responsive.html_mobile_menu_tablet #top #wrap_all .av-logo-container {
        height: auto !important;
        line-height: 1 !important;
    }
}